{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-undef": "off",
    "react/prop-types": "off",
    "no-unused-vars": "warn",
    "camelcase": "off",
    "no-empty": "warn",
    "require-await": "warn"
  },
  "extends": ["plugin:react/recommended", "plugin:react-hooks/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 6,
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
